{% extends 'base.html' %}
{% from "utility.html" import format_price %}

{% block head %}
<title>Cart</title>
{% endblock %}

{% block content %}
{% include 'user_navbar.html' %}
<script src="/static/js/cart.js"></script>

<!--Breadcrumb-->
<div class="container-fluid justify-content-md-center text-center border-bottom pb-0 mb-3">
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb mb-2">
      <li class="breadcrumb-item"><a href="{{ url_for('user_bp.home') }}">Home</a></li>
      <li class="breadcrumb-item active">My Cart</li>
    </ol>
  </nav>
</div>

<!--Cart-->
<div class="container">
  <div class="row mx-4 justify-content-center">
    <!--Cart items-->
    <div class="col-7">
      {% if not products %}
      <div class="row justify-content-center text-center py-3 rounded border">
        <h5>Cart is empty</h5>
      </div>
      {% endif %}
      {% for p in products %}
      <div class="row cart-product w-100 {{ 'border-bottom' if not loop.last }} pb-2 mb-2" id="{{ p.id }}">
        <div class="col-auto ps-0">
          <div>
            <img src="{{ p.image_url }}" class="product-img rounded">
          </div>
        </div>
        <!--Product info-->
        <div class="col py-3 me-auto">
          <h5 class="mb-1"><a href="{{ url_for('user_bp.product_page', id=p.id) }}" class="text-dark text-link">{{ p.name }}</a></h5>
          <!--Stock status-->
          <small>
            <div>Brand: <strong>{{ p.brand }}</strong></div>
            <div>Est. Delivery: <strong>{{ p.delivery_days }} days</strong></div>
          </small>
          <div class="mt-1">
            <h5 class="text-primary align-bottom">{{ format_price(p.unit_price) }}</h5>
          </div>
        </div>
        <!--Product cost and quantity control-->
        <div class="col-md-3 py-3 me-3 text-end" id="cart-controls">
          <!--Quantity editing form-->
          <div class="row">
            <div class="text-end px-0 pb-2">Quantity</div>
            <form class='quantity_form' id="{{ p.id }}" method='POST' action="{{ url_for('api_bp.product_update') }}">
              <input type="hidden" id="product_id" name="id" value="{{ p.id }}">
              <div class="form-group row justify-content-end">
                <div class="col-auto px-0 text-end">
                  <div class="input-group">
                    <input class="form-control form-control-sm" type="number" min="1" max="{{ p.quantity + p.stock }}" id="quantity" name="quantity" value={{ p.quantity }}> 
                    <div class="invalid-tooltip d-none"></div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <!--Product deletion link-->
          <div class="row align-end justify-content-end text-end">
            <div 
              class="col-auto btn btn-link text-danger text-decoration-none pe-0" 
              data-bs-toggle="modal" data-bs-target="#cart-product-delete-modal"
              data-bs-product-id="{{ p.id }}" data-bs-product-name="{{ p.name }}">
              <small><i class="bi bi-x-circle me-1"></i>Remove</small>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <!--Cart sidebar-->
    <div class="col-4">
      <!--Details of cost-->
      <div class="shadow-sm rounded mb-3 p-4">
        <div class="text-center">
          <h6>Subtotal</h6>
          <h4>
            <span id="cart-summary-total-cost">{{ format_price(summary.total_cost) }}</span>
          </h4>
        </div>
        <!--<form class="wtf-ajax-form text-start">
          <div class="form-group mb-3">
            <label for="promo_code"><small>Promo Code</small></label>
            <input type="text" class="form-control" id="promo_code" name="promo_code" placeholder="Enter code" minlength="6" maxlength="6" required>
            <div class="invalid-feedback wtf-ajax-error d-none" id="promo_code"></div>
          </div>
        </form>-->
        <!--Buy now button-->
        <div>
          <form action="{{ url_for("user_bp.cart_checkout") }}" method="POST">
            <button type="submit" class="btn btn-success w-100" {{ "disabled" if not products }}>Proceed to checkout</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Delete product confirmation modal-->
<div class="modal fade" id="cart-product-delete-modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm Product Removal</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        Are you sure you want to remove the following from your cart? <br>
        <strong>"<span id="product-name"></span>"</strong>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">No</button>
        <button type="button" id="delete-cart-product" class="btn btn-danger" data-bs-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}