
{% extends 'base.html' %}

{% block head %}
<title>Cart</title>
{% endblock %}

{% block content %}
{% include 'user_navbar.html' %}
<script src="/static/js/cart.js"></script>

<div class="container w-75">
  {% for p in products %}
  <div class="row cart-product" id="{{ p.id }}">
    <div class="col-sm-2 thumbnail"><img src="{{ p.image_url }}" class="product-img rounded img-fluid"></div>
    <!--Product info-->
    <div class="col mr-auto">
      <a href="{{ url_for('user_bp.product_page', id=p.id) }}">
        <p class="text-left my-0"><strong>{{ p.name }}</strong> in {{ p.category }}</p>
      </a>
      <!--Stock status-->
      {% if p.in_stock > 0 %}
      <p class="text-left my-0 text-success">In stock</p>
      {% else %}
      <p class="text-left my-0 text-danger">Out of stock</p>
      {% endif %}
      <!--Product description tags-->
      <p class="text-left text-bottom">{{ p.description }}</p>
    </div>
    <!--Product cost and quantity control-->
    <div class="col-md-3 text-right">
      <div class="row text-right">
        <p class="text-right"><strong class="text-right">{{ "$%.2f"|format(p.unit_price) }}</strong></p>
      </div>
      <!--Quantity editing form-->
      <div class="row">
        <form class='quantity_form' id="{{ p.id }}" method='POST' action="{{ url_for('api_bp.product_update') }}">
          <input type="hidden" id="product_id" name="id" value="{{ p.id }}">
          <div class="form-group row">
            <label class="col text-center" for="quantity">Quantity</label>
            <input class="col form-control" type="number" min="0" max="99" id="quantity" name="quantity" value={{ p.quantity }}> 
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}