{% extends 'base.html' %}

{% block head %}
<title>Cart</title>
{% endblock %}

{% block content %}
{% include 'user_navbar.html' %}
<script src="/static/js/cart.js"></script>

<!--Breadcrumb-->
<div class="container-fluid justify-content-md-center text-center border-bottom pb-0 mb-3">
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb mb-2">
      <li class="breadcrumb-item"><a href="{{ url_for('user_bp.home') }}">Home</a></li>
      <li class="breadcrumb-item active">My Cart</li>
    </ol>
  </nav>
</div>

<!--Cart-->
<div class="container">
  <div class="row mx-4 justify-content-center">
    <!--Cart items-->
    <div class="col-8">
      {% if not products %}
      <div class="row justify-content-center text-center py-3 border shadow-sm">
        <h5>Cart is empty</h5>
      </div>
      {% endif %}
      {% for p in products %}
      <div class="row cart-product w-100 border mb-2" id="{{ p.id }}">
        <div class="col-md-2 thumbnail ps-0">
          <img src="{{ p.image_url }}" class="product-img rounded img-fluid border">
        </div>
        <!--Product info-->
        <div class="col py-2 me-auto">
          <a href="{{ url_for('user_bp.product_page', id=p.id) }}">
            <p class="text-start my-0"><strong>{{ p.name }}</strong> in {{ p.category }}</p>
          </a>
          <!--Stock status-->
          {% if p.stock > 0 %}
          <p class="text-start my-0 text-success">In stock</p>
          {% else %}
          <p class="text-start my-0 text-danger">Out of stock</p>
          {% endif %}
          <div class="d-flex flex-row fs-8">
            <div class="col-auto me-1 badge badge-outline">Brand: {{ p.brand }}</div>
            <div class="col-auto me-1 badge badge-outline">Est. Delivery: {{ p.delivery_days }} days</div>
          </div>
        </div>
        <!--Product cost and quantity control-->
        <div class="col-md-3 py-2 me-3 text-end" id="cart-controls">
          <div class="row text-end">
            <p class="text-end pe-0"><strong class="text-end fs-6">{{ "$%.2f"|format(p.unit_price) }}</strong></p>
          </div>
          <!--Quantity editing form-->
          <div class="row">
            <form class='quantity_form' id="{{ p.id }}" method='POST' action="{{ url_for('api_bp.product_update') }}">
              <input type="hidden" id="product_id" name="id" value="{{ p.id }}">
              <div class="form-group row justify-content-end">
                <label class="col-auto me-0 text-end" for="quantity">Quantity</label>
                <div class="col-4 px-0 text-end">
                  <input class="form-control form-control-sm" type="number" min="1" max="99" id="quantity" name="quantity" value={{ p.quantity }}> 
                </div>
              </div>
            </form>
          </div>
          <!--Product deletion link-->
          <div class="row align-end justify-content-end text-end">
            <div 
              class="col-auto btn btn-link text-danger text-decoration-none pe-0" 
              data-bs-toggle="modal" data-bs-target="#cart-product-delete-modal"
              data-bs-product-id="{{ p.id }}" data-bs-product-name="{{ p.name }}">
              <small>Delete this item</small>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <!--Cart sidebar-->
    <div class="col-3">
      <!--Details of cost-->
      <div class="d-flex flex-row flex-nowrap card mb-3">
        <div class="card-body">
          <h6 class="card-title border-bottom pb-2">Checkout Details</h6>
          <div class="card-text">
            <div class="d-flex flex-nowrap"><strong class="mx-1">Total cost: </strong>$<span id="cart-summary-total-cost">{{ "%.2f"|format(summary.total_cost) }}</span></div>
            <div class="d-flex flex-nowrap"><strong class="mx-1">Total items: </strong><span id="cart-summary-total-items">{{ summary.total_items }}</span></div>
          </div>
        </div>
      </div>
      <!--Buy now button-->
      <div class="d-block flex-row flex-nowrap">
        <form action="{{ url_for("user_bp.cart_checkout") }}" method="POST">
          <button type="submit" class="btn btn-success w-100" {{ "disabled" if not products }}>Proceed to checkout</a>
        </form>
      </div>
    </div>
  </div>
</div>

<!--Delete product confirmation modal-->
<div class="modal fade" id="cart-product-delete-modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm Product Removal</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        Are you sure you want to remove the following from your cart? <br>
        <strong>"<span id="product-name"></span>"</strong>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">No</button>
        <button type="button" id="delete-cart-product" class="btn btn-danger" data-bs-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}