{% extends 'base.html' %}
{% from "utility.html" import format_price, render_carousel %}

{% block head %}
<title>Cafe AW Homepage</title>
{% endblock %}


{% block content %}
{% include 'user_navbar.html' %}


<!--Homepage-->
<div class="container-fluid">
  <!--Recommended products-->
  {% if recommended_products %}
  <div class="container my-2">
    <h5 class="border-bottom mx-5 py-2">Recommended items</h5>
    {{ render_carousel(recommended_products, "recommended-products-carousel") }} 
  </div>
  <div class="my-5"></div>
  {% endif %}

  <!--Popular items-->
  <div class="container my-2">
    <h5 class="border-bottom mx-5 py-2">Popular items</h5>
    {{ render_carousel(popular_items, "popular-items-carousel") }} 
  </div>
</div>
{% endblock %}