{% extends 'user_page.html' %}

{% block head %}
<link rel="stylesheet" href="/static/css/homepage.css">
<title>Cafe AWAE Login Portal</title>
{% endblock %}


{% block content %}
<!--Homepage-->
<div class="container-fluid">
  <!--Navigation-->
  <div class="row">
    <div class="col align-self-center text-center">
      <div class="btn-group">
        <div class="btn btn-primary">Products</div>
        <div class="btn btn-outline-primary">Reviews</div>
        <div class="btn btn-outline-primary">Curators</div>
      </div>
    </div>
  </div>
  <!--Products-->
  <div class="container">
    <p class="my-1"><em>Recommended for you</em></p>
    <div class="row" style="border-width: 2rem; border: solid #f7f7f9; padding: 1rem;">
      {% for product in products %}
      <div class="col-sm-2 px-0 mx-1 rounded" style="border: solid #f7f7f7">
        <div class="thumbnail">
          <a href="{{ product.image_url }}" class="text-decoration-none">
            <img src="{{ product.image_url }}" class="product-img rounded img-fluid">
            <div class="text-center">
              <h6>Decafe Blend</h6>
              <p class="text-muted my-0">$10.00</p>
            </div>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}