{% extends 'base.html' %}
{% from "utility.html" import format_price %}

{% block head %}
<title>Orders</title>
{% endblock %}

{% macro text_item(name, description) %}
<div class="row justify-content-between">
  <div class="col-auto text-start">{{ name }}</div>
  <div class="col text-end">{{ description }}</div>
</div>
{% endmacro %}

{% block content %}
{% include 'user_navbar.html' %}

<nav aria-label="breadcrumb">
</nav>

<!--Breadcrumb-->
<div class="container-fluid justify-content-md-center text-center border-bottom pb-0 mb-3">
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb mb-2">
      <li class="breadcrumb-item"><a href="{{ url_for('user_bp.home') }}">Home</a></li>
      <li class="breadcrumb-item"><a href="{{ url_for('user_bp.profile') }}">Profile</a></li>
      <li class="breadcrumb-item active">Your Orders</li>
    </ol>
  </nav>
</div>

<div class="container w-75">
  <!--Search for orders-->
  <div class="d-flex flex-row px-0 mb-2 justify-content-between">
    <div class="col ps-0">
      <h3>Your Orders</h3>
    </div>
    <div class="col pe-0">
      <input type="search" class="form-control" placeholder="Search orders" name="name">
    </div>
  </div>

  <!--Switch between different types of orders with nav bar-->
  <ul class="nav nav-tabs mb-3">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">All orders</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Pending</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Completed</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Cancelled</a>
    </li>
  </ul>

  <!--Render an order-->
  {% for order_id, order in orders %}
  <div class="row card mb-3 shadow-sm">
    <div class="card-header">
      <span>Order placed: {{ order.time_placed.strftime("%d %b %y") }}</span>
    </div>
    <div class="card-body">
      <div class="d-flex flex-row flex-nowrap">
        <!--Product list-->
        <div class="col-7 border mb-auto">
          {% for p in order.products %}
          <!--Product entry-->
          <div class="d-flex flex-row flex-nowrap py-0 {{ "border-bottom" if not loop.last }}"> 
            <!--Product image-->
            <div class="col-auto ps-0">
              <img src="{{ p.image_url }}" width="100" height="100"></img>
            </div>
            <!--Product info-->
            <div class="col ms-4 py-2 me-auto">
              <a href="{{ url_for('user_bp.product_page', id=p.id) }}" class="text-dark text-link">
                <p class="text-start my-0"><strong>{{ p.name }}</strong> in {{ p.category }}</p>
              </a>
              <!--Stock status-->
              <div class="d-flex flex-row flex-nowrap mb-1">
                {% if p.stock > 0 %}
                <p class="text-start my-0 text-success">In stock</p>
                {% else %}
                <p class="text-start my-0 text-danger">Out of stock</p>
                {% endif %}
              </div>
              <!--Product description tags-->
              <div class="d-flex flex-row">
                <form class="product-buy-or-add-form" method="POST">
                  <input type="text" name="id" value="{{ p.id }}" hidden>
                  <input type="number" name="quantity" value="1" hidden>
                  <button type="submit" id="buy_now" v-link="{{ url_for("api_bp.product_buy") }}" class="me-2 btn btn-sm btn-primary">
                    <i class="bi bi-bag-check fs-7 me-2"></i>Buy again
                  </button>
                  <button type="submit" id="cart_add" v-link="{{ url_for("api_bp.product_add") }}" class="me-2 btn btn-sm btn-outline-primary">Add to cart</button>
                </form>
              </div>
            </div>
            <!--Product pricing information-->
            <div class="col-md-3 py-2 me-3 text-end">
              <!--Product price-->
              <div class="row text-end">
                <h5 class="text-primary">{{ format_price(p.unit_price) }}</h5>
              </div>
              <!--Quantity-->
              <div class="mt-1">x{{ p.quantity }}</div>
            </div>
          </div>
          {% endfor %}
        </div>
        <!--Order extras-->
        <div class="col ms-3">
          <!--Order details-->
          <div class="rounded border shadow-sm p-4">
            <div class="d-flex flex-row flex-nowrap justify-content-between h5">
              <div>Order details</div>
              {% if order.delivery_date %}
              <i class="bi bi-check-circle text-success"></i>
              {% elif order.cancelled %}
              <i class="bi bi-x-circle text-danger"></i>
              {% else %}
              <i class="bi bi-dash-circle text-primary"></i>
              {% endif %}
            </div>
            <div class="border-bottom my-2"></div>
            <div class="row">
              <strong>
              {% if order.delivery_date %}
                Delivered {{ order.delivery_date.strftime("%A") }}
              {% elif order.cancelled %}
                Delivery cancelled
              {% else %}
                Delivery pending
              {% endif %}
              </strong>
            </div>
            {{ text_item("Total cost", format_price(order.total_cost)) }}
            {{ text_item("Total items", order.total_items) }}

            <div class="border-bottom mb-3 pb-2"></div>

            <!--Order controls-->
            <div class="d-block text-center">
              <div class="btn btn-primary w-100 mb-1">Buy again</div>
              <a class="btn btn-outline-primary w-100 mb-1" href="{{ url_for("user_bp.order_page", id=order_id) }}">View order details</a>
              <div class="btn btn-outline-primary w-100">Confirm delivery</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}