{% extends 'base.html' %}
{% from "utility.html" import format_price, render_carousel %}

{% block head %}
<title>Product page</title>
{% endblock %}

{% block content %}
{% include 'user_navbar.html' %}

<form id="breadcrumb-category-search" action="{{ url_for("user_bp.search") }}" method="POST">
  <input name="categories" value="{{ product.category }}" hidden>
</form>

<!--Breadcrumb-->
<div class="container-fluid justify-content-md-center text-center border-bottom pb-0 mb-3">
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb mb-0">
      <li class="breadcrumb-item"><a href="{{ url_for('user_bp.home') }}">Home</a></li>
      <li class="breadcrumb-item"><a href="{{ url_for('user_bp.search') }}">Products</a></li>
      <li class="breadcrumb-item"><button class="btn btn-link pt-0 px-0" type="submit" form="breadcrumb-category-search">{{ product.category }}</button></li>
      <li class="breadcrumb-item active">Product details</li>
    </ol>
  </nav>
</div>

<!--Product description-->
<div class="container w-75">
  {% if product.is_deleted %}
  <div class="row">
    <div class="col">
      <div class="alert alert-danger text-center shadow-sm" role="alert">
        <strong>This item has been delisted</strong>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="row justify-content-between">
    <!--Image panel-->
    <div class="col-md-4 text-center mx-auto">
      <div class="carousel carousel-dark slide" data-bs-ride="carousel" id="product-image-carousel">
        <!--Carousel images-->
        <div class="carousel-inner rounded shadow-sm border">
          <div class="carousel-item active" data-bs-interval="1000">
            <div>
              <img src="{{ product.image_url }}" class="product-img-lg">
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="1000">
            <div>
              <img src="{{ product.image_url }}" class="product-img-lg">
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="1000">
            <div>
              <img src="{{ product.image_url }}" class="product-img-lg">
            </div>
          </div>
        </div>
        <!--Carousel controls-->
        <button class="carousel-control-prev" type="button" data-bs-target="#product-image-carousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#product-image-carousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <!--Product description-->
    <div class="col-md-6">
      <div class="rounded shadow-sm p-4">
        <div class="row justify-content-between">
          <div class="col text-start"><h3>{{ product.name }}</h3></div>
          <div class="col-auto text-end"><h4 class="text-primary">{{ format_price(product.unit_price) }}</h4></div>
          {% if current_user.admin %}
          <div class="col-auto text-end ps-2">
            <a href="{{ url_for("admin_bp.edit_product", id=product.id) }}" class="btn btn-outline-secondary rounded-circle"><i class="bi bi-pen"></i></a>
          </div>
          {% endif %}
        </div>
        <div class="row">
          {% if product.stock > 0 %}
          <p class="text-start my-0 text-success">In stock</p>
          {% else %}
          <p class="text-start my-0 text-danger">Out of stock</p>
          {% endif %}
        </div>
        <div class="row">
          <p>{{ product.description }}</p>
        </div>

        <!--Product details info-->
        <div>
          <div class="row">
            <div class="col-auto">
              <strong>
                <div class="flex-nowrap">Brand</div>
                <div class="flex-nowrap">Warranty days</div>
                <div class="flex-nowrap">Delivery days</div>
                <div class="flex-nowrap">In stock</div>
              </strong>
            </div>
            <div class="col-auto ms-2">
              <div class="flex-nowrap">{{ product.brand }}</div>
              <div class="flex-nowrap">{{ product.warranty_days }}</div>
              <div class="flex-nowrap">{{ product.delivery_days }}</div>
              <div class="flex-nowrap">{{ product.stock }}</div>
            </div>
          </div>
        </div>

        <!--Purchasing form-->
        {% if not product.is_deleted %}
        <div class="row mx-0 px-0 w-100 justify-content-between mt-3">
          <div class="col-md-5 ps-0">
            <div class="row form-group text-start">
              <label class="col-auto me-3 text-start" for="quantity">Quantity</label>
              <input 
                class="col form-control" type="number" min="1" max="{{ product.stock }}" id="quantity" name="quantity" value="1"
                data-bs-action="product-form" data-bs-product-form-target="product-form-{{ product.id }}"> 
            </div>
          </div>
          <div class="col-auto btn-group pe-0 align-self-end text-end">
            <button data-bs-product-form-id="product-form-{{ product.id }}" data-bs-action='add-to-cart' data-bs-id="{{ product.id }}" data-bs-quantity="1" class="btn btn-outline-primary mb-2">Add to Cart</button>
            <button data-bs-product-form-id="product-form-{{ product.id }}" data-bs-action='buy-now' data-bs-id="{{ product.id }}" data-bs-quantity="1" class="btn btn-primary mb-2">Buy Now</button>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="row justify-content-center my-5">
    <div class="col">
      <h4 class="border-bottom pb-2 mb-2 mx-5">Similar Products</h4>
      {{ render_carousel(similar_items, id="similar-products-carousel") }}
    </div>
  </div>
</div>
{% endblock %}