{% extends 'base.html' %}

{% block head %}
<title>Profile</title>
{% endblock %}

{% block content %}
{% include 'user_navbar.html' %}

<nav aria-label="breadcrumb">
</nav>

<!--Breadcrumb-->
<div class="container-fluid justify-content-md-center text-center border-bottom pb-0 mb-3">
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb mb-2">
      <li class="breadcrumb-item"><a href="{{ url_for('user_bp.home') }}">Home</a></li>
      <li class="breadcrumb-item active">Profile</li>
    </ol>
  </nav>
</div>

<script>
$("document").ready(function() {
  $(".profile-tile").click(function() {
    let href = $(this).attr("href");
    window.location = href;
  });
})
</script>

<!--Render a profile link tile-->
{% macro render_tile(heading, description, url) %}
<div class="col-md-4 mx-2 my-2 border profile-tile" href="{{ url }}">
  <div class="row my-3 mx-2">
    <div class="col-sm-1"></div>
    <div class="col text-start">
      <div class="row"><h6>{{ heading }}</h6></div>
      <div class="row"><p>{{ description }}</p></div>
    </div>
  </div>
</div>
{% endmacro %}

<!--TODO: Add iconography-->
<div class="container">
  <div class="row justify-content-center">
    {{ render_tile("Your Orders", "Track, return, or buy things again", url_for("user_bp.profile_orders")) }}
    {{ render_tile("Login & Security", "Edit login, name, and phone number", url_for("user_bp.profile_edit_login_security")) }}
    {{ render_tile("Your Addresses", "Edit addresses for orders", url_for("user_bp.profile_address")) }}
    {{ render_tile("Your Payments", "Manage payment methods and settings", url_for("user_bp.profile_payment")) }}
    {{ render_tile("Reviews", "View and manage your product reviews", url_for("user_bp.home")) }}
    {{ render_tile("Cafepass", "View your cafepass benefits and status", url_for("user_bp.profile_cafepass")) }}
  </div>
</div>

{% endblock %}