{% extends 'base.html' %}
{% block head %}
<title>Cafe AWAE Registration</title>
{% endblock %}

{% block content %}
<script src="/static/js/wtf_ajax_form.js"></script>

<div class="d-flex flex-row justify-content-center text-center">
  <a href="{{ url_for('user_bp.home') }}" class="text-decoration-none text-dark">
    <img src="/static/images/logo_2.png"></img>
    <h1>Cafe AWAE</h1>
  </a>
</div>

<div class="container h-100">
  <div class="row my-auto justify-content-center">
    <!--Registration panel--> 
    <div class="col-md-5 my-auto">
      <div class="card shadow-sm">
        <div class="card-header">
          <h6 class="text-start">Customer Registration</h6>
        </div>
        <div class="card-body">
          <form method="POST" action="{{ url_for('api_bp.register') }}" id="user-register-form" class="wtf-ajax-form">
            {{ form.csrf_token }}
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="{{ form.username.id }}" name="{{ form.username.id }}" placeholder="Enter username" required>
              <label for="{{ form.username.id }}">Username</label>
              <div class="invalid-feedback d-none" id="{{ form.username.id }}"></div>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="{{ form.password.id }}" name="{{ form.password.id }}" placeholder="Password" required>
              <label for="{{ form.password.id }}">Password</label>
              <div class="invalid-feedback d-none" id="{{ form.password.id }}"></div>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="{{ form.confirm_password.id }}" name="{{ form.confirm_password.id }}" placeholder="Re-enter password" required>
              <label for="{{ form.confirm_password.id }}">Re-enter Password</label>
              <div class="invalid-feedback d-none" id="{{ form.confirm_password.id }}"></div>
            </div>
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="{{ form.email.id }}" name="{{ form.email.id }}" placeholder="Enter email" required>
              <label for="{{ form.email.id }}">Email</label>
              <div class="invalid-feedback d-none" id="{{ form.email.id }}"></div>
            </div>
            <div class="form-floating mb-3">
              <input type="phone" class="form-control" id="{{ form.phone.id }}" name="{{ form.phone.id }}" placeholder="Enter phone number" required>
              <label for="{{ form.phone.id }}">Phone</label>
              <div class="invalid-feedback d-none" id="{{ form.phone.id }}"></div>
            </div>
            <div class="form-check mb-3">
              <input type="checkbox" class="form-check-input" id="{{ form.remember_me.id }}" name="{{ form.remember_me.id }}" checked="{{ form.remember_me.data }}">
              <div class="invalid-feedback d-none" id="{{ form.remember_me.id }}"></div>
              <label class="form-check-label" for="{{ form.remember_me.id }}">Remember me</label>
            </div>
            <div class="form-row my-2">
              <div class="col">
                <button type="submit" class="btn btn-primary w-100">Register</button>
              </div>
            </div>
          </form>
          <div class="row justify-content-center text-center">
            <div class="col">Already signed up? <a href="{{ url_for("user_bp.login") }}">Login here</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
{% endblock %}