<!--Search bar functionality changes depending on context-->
<!--If the form is present, then we let that handle the submission-->
<!--If the form is not present, then we send it via ajax and redirect-->
<script>
$("document").ready(function () {
  $("#search-bar-nav").keypress(function (ev) {
    // check if the enter key pressed
    var keycode = (ev.keyCode ? ev.keyCode : ev.which);
    if(keycode != 13){
      return;
    }

    let search = $(this);
    let linked_form = search.attr("form");
    let form = $(`form#${linked_form}`);

    // if form doesn't exist, then we go to the product page
    if (form.length === 0) {
      let url = "{{ url_for("user_bp.search") }}";
      let data = {"name": search.val()};
      $.redirect(url, data, "POST")
    } 
  });
});
</script>

<!--Header-->
<header class="navbar navar-expand flex-column">
  <div class="row w-100">
    <!--Search bar-->
    <div class="col align-self-start text-left">
      <!--This links to the product search form-->
      <div class="w-75 d-flex align-items-center">
        <input 
          type="search" class="form-control" id="search-bar-nav" placeholder="Search..." aria-label="Search for..." autocomplete="off" spellcheck="false" 
          form="product-search-form" name="name">
      </div>
    </div>
    <div class="col align-self-center text-center">
      <a href="{{ url_for("user_bp.home") }}">
        <h2>Cafe AWAE</h2>
      </a>
    </div>
    <!--Controls-->
    <div class="col align-self-end text-right">
      <div class="btn-group">
        {% if current_user.admin %}
        <a href='{{ url_for('admin_bp.home') }}' class="btn btn-success">Admin</a>
        {% endif %}
        <a href='{{ url_for('user_bp.cart') }}' class="btn btn-outline-secondary">Cart</a>
        {% if current_user.is_authenticated %}
        <a href='{{ url_for('user_bp.profile') }}' class="btn btn-primary">Profile ({{ current_user.username[0] }})</a>
        <a href='{{ url_for('user_bp.logout') }}' class="btn btn-danger">Logout</a>
        {% else %}
        <a href='{{ url_for('user_bp.login') }}' class="btn btn-secondary">Login</a>
        {% endif %}
      </div>
    </div>
  </div>
</header>
