{% from "utility.html" import format_price %}

<!--Search bar functionality changes depending on context-->
<!--If the form is present, then we let that handle the submission-->
<!--If the form is not present, then we send it via ajax and redirect-->
<script>
$("document").ready(function () {
  $("#search-bar-nav").keypress(function (ev) {
    // check if the enter key pressed
    var keycode = (ev.keyCode ? ev.keyCode : ev.which);
    if(keycode != 13){
      return;
    }

    let search = $(this);
    let linked_form = search.attr("form");
    let form = $(`form#${linked_form}`);

    // if form doesn't exist, then we go to the product page
    if (form.length === 0) {
      let url = "{{ url_for("user_bp.search") }}";
      let data = {"name": search.val()};
      $.redirect(url, data, "POST")
    } 
  });
});
</script>

<header class="p-2 mb-2 border-bottom">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-center justify-content-lg-start flex-no-wrap">
      <div class="col-4">
        <div class="row flex-nowrap">
          <!--Header-->
          <a href="{{ url_for("user_bp.home") }}" class="col-auto align-items-center mb-2 mb-lg-0 text-dark me-2 text-decoration-none">
            <i class="bi bi-house-fill fs-3"></i>
          </a>

          <!--Browsing buttons-->
          <ul class="nav col-auto flex-nowrap mb-2 justify-content-start mb-md-0">
            <li><a href="{{ url_for('user_bp.search') }}" class="nav-link px-2 link-dark">Products</a></li>
            
          </ul>
        </div>
      </div>

      <!--Search bar-->
      <div class="col-4 mx-auto align-self-center text-center">
        <input 
          type="search" class="form-control" id="search-bar-nav" placeholder="Search..." aria-label="Search for..." autocomplete="off" spellcheck="false" 
          form="product-search-form" name="name">
      </div>

      <div class="col-4">
        <div class="row justify-content-end text-end lh-sm">
          <!--Battlepass-->
          {% if current_user.is_authenticated %}
          <div class="col-auto">
            {% include "navbar/cafepass.html" %}
          </div>
          {% endif %}

          <!--Cart-->
          <div class="col-auto text-start">
            {% include "navbar/cart.html" %}
          </div>

          <!--Profile-->
          <div class="col-auto">
            <div class="d-block align-items-center">
              <div class="dropdown text-end">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                  {% if current_user.is_authenticated %}
                  <span class="mx-1">{{ current_user.username }}</span>
                  {% endif %}
                </a>
                <ul class="dropdown-menu dropdown-menu-end text-small" aria-labelledby="dropdownUser1" style="">
                  {% if current_user.admin %}
                  <li><a class="dropdown-item" href="{{ url_for('admin_bp.home') }}">Admin</a></li>
                  {% endif %}
                  <li><a class="dropdown-item" href="{{ url_for('user_bp.profile') }}">Profile</a></li>
                  <li><hr class="dropdown-divider"></li>
                  {% if current_user.is_authenticated %}
                  <li><a class="dropdown-item" href="{{ url_for('user_bp.logout') }}">Logout</a></li>
                  {% else %}
                  <li><a class="dropdown-item" href="{{ url_for('user_bp.login') }}">Login</a></li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>