<!--Utility macro for image drag and drop-->
{% macro input_product_image(image_name, image_changed_name, default_url) %}
<div class="dragndrop-image round">
  <!--Image preview-->
  <div class="preview d-none">
    <!--Overlay to show edit buttons-->
    <div class="overlay">
      <div class="row h-100 text-center justify-content-center">
        <div class="col my-auto mx-auto">
          <div class="btn btn-outline-danger rounded-circle" id="delete"><i class="bi bi-trash fs-4"></i></div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <img class="product-img-lg" src="" default-src="{{ default_url or '' }}"/>
    </div>
    <p class="filename text-center"></p>
  </div>

  <!--Image drop zone-->
  <div class="dropzone w-100">
    <!--Reset control for dropzone if original src url was provided-->
    <div class="overlay d-none">
      <div class="btn btn-outline-secondary rounded-circle" id="reset"><i class="bi bi-arrow-counterclockwise fs-4"></i></div>
    </div>
    <div class="dropzone-description">
      <p>Choose an image file or drag it here</p>
    </div>
    <!--If there was an original src image, store its url here-->
    <input type="checkbox" checked=false name="{{ image_changed_name }}" class="dropzone-dirty" required hidden>
    <!--Input that actually handles the drag and drop-->
    <input type="file" id="{{ image_name }}" name="{{ image_name }}" accept="image/*" class="dropzone-input">
    <div id="{{ image_name }}" class="invalid-feedback wtf-ajax-error d-none"></div>
  </div>
</div>
{% endmacro %}

<!--Macro for price formatting-->
{% macro format_price(price, currency="$") %}
{% set i, d = "{:.2f}".format(price).split('.') %}
{{ currency }}{{ i }}.<small>{{ d }}</small>
{% endmacro %}

<!--Utility for rendering products or carousels-->
{% macro render_product(p, img_class="product-img") %}
<div class="rounded border shadow-sm mx-1">
  <a class="text-dark text-link" href="{{ url_for("user_bp.product_page", id=p.id) }}">
    <div class="text-center">
      <img src="{{ p.image_url }}" class="{{ img_class }} rounded">
    </div>
    <div class="px-3 my-2 text-start">
      <div class="text-truncate h6 mb-0">{{ p.name }}</div>
      <div class="text-muted h6"><small>{{ p.category }}</small></div>
    </div>
  </a>
  <div class="d-flex flex-row flex-nowrap justify-content-between px-3 my-2">
    <div class="text-primary">{{ format_price(p.unit_price) }}</div>
    <div data-bs-action='add-to-cart' data-bs-id="{{ p.id }}" data-bs-quantity="1" class="btn btn-outline-primary btn-sm">
      +<i class="bi bi-cart"></i>
    </div>
  </div>
</div>
{% endmacro %}

<!--Render image carousel-->
{% macro render_carousel(products, id, N=4, img_class="product-img") %}
{% set rows = chunk(N, products) %}
<div id="{{ id }}" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    {% for products in rows %}
    <div class="carousel-item {{ 'active' if loop.first }}">
      <div class="row mx-5 my-2 justify-content-center">
        {% for p in products %}
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
          {{ render_product(p, img_class=img_class) }}
        </div>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
  {% if rows.__len__() > 1 %}
  <button class="carousel-control-prev justify-content-start ms-3 w-auto" type="button" data-bs-target="#{{ id }}" data-bs-slide="prev">
    <span class="carousel-control-prev-icon shadow" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next justify-content-end me-3 w-auto" type="button" data-bs-target="#{{ id }}" data-bs-slide="next">
    <span class="carousel-control-next-icon shadow" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  {% endif %}
</div>
{% endmacro %}

<!--Render flashed messages-->
{% macro render_flash() %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% set lut = {"message": "alert-success", "error": "alert-danger", "success": "alert-success", "warning": "alert-warning"} %}
  {% for category, message in messages %}
  {% set cls = lut.get(category, "alert-danger") %}
  <div class="alert {{ cls }} alert-dismissible text-center shadow-sm" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
{% endwith %}
{% endmacro %}