.product-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.product-img-small {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.profile-tile:hover {
    cursor: pointer;
    background-color: #f7f7f7;
}

.badge-outline {
    color: black;
    border: 1px solid #999;
    background-color: transparent;
}

/* Text colours */
.text-link {
    transition: color .25s ease-in-out;
    text-decoration: none;
}

.text-link:hover {
    color: #b34418 !important;
    text-decoration: none;
}

.text-accent {
    color: #b34418 !important;
}

body {
  font-family: 'Roboto', sans-serif !important;
}