/* Sizes for image containers */
div .product-img {
    width: 140px;
    height: 140px;
}

.product-img {
    max-width: 140px;
    max-height: 140px;
    object-fit: contain;
}

div .product-img-lg {
    width: 250px;
    height: 250px;
}

.product-img-lg {
    max-width: 250px;
    max-height: 250px;
    object-fit: contain;
}

div .product-img-md {
    width: 100px;
    height: 100px;
    align-content: center;
}

.product-img-md {
    max-width: 100px;
    max-height: 100px;
    object-fit: contain;
}

div .product-img-sm {
    width: 50px;
    height: 50px;
    align-content: center;
}

.product-img-sm {
    max-width: 50px;
    max-height: 50px;
    object-fit: contain;
}

/* Profile settings pages */
.profile-tile:hover {
    cursor: pointer;
    background-color: #f7f7f7;
}

.badge-outline {
    color: black;
    border: 1px solid #999;
    background-color: transparent;
}

/* Text colours */
.text-link {
    transition: color .25s ease-in-out;
    text-decoration: none;
}

.text-link:hover {
    color: #b34418 !important;
    text-decoration: none;
}

.text-accent {
    color: #b34418 !important;
}

/* Overwrite default link appearance for breadcrumb */
.breadcrumb-item > a {
    transition: color .25s ease-in-out;
    text-decoration: none;
}

.breadcrumb-item > a:hover {
    color: #b34418 !important;
    text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif !important;
}


/* Circular progress bar */
/* Taken from: https://bootstrapious.com/p/circular-progress-bar */
.battlepass-progress {
  width: 35px;
  height: 35px;
  background: none;
  position: relative;
}

.battlepass-progress.large {
  width: 150px !important;
  height: 150px !important;
}

.battlepass-progress::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid #eee;
  position: absolute;
  top: 0;
  left: 0;
}

.battlepass-progress>span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.battlepass-progress .progress-left {
  left: 0;
}

.battlepass-progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 6px;
  border-style: solid;
  position: absolute;
  top: 0;
}

.battlepass-progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.battlepass-progress .progress-right {
  right: 0;
}

.battlepass-progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
}

.battlepass-progress .progress-value {
  position: absolute;
  top: 0;
  left: 0;
}


/* Battlepass levels */
.cafepass-levels-info {
  position: relative;
  font-size:12px;
  margin-top: 30px;
  margin-bottom: 30px;
  z-index: 1;
}

.cafepass-levels-info .tick-marks .tick-mark {
  position: absolute;
  left: calc(0px);
  right: calc(0px);
}

.cafepass-levels-info .tick-marks .tick-mark .text-top {
  position: absolute;
  float: center;
  text-align: center;
  margin-top:-20px;
  width: 200px;
  margin-left: -101px;
  z-index: 1;
}

.cafepass-levels-info .tick-marks .tick-mark .level-dropdown {
  width: 30px;
  height: 30px;
  padding: 4px 0px;
  border-radius: 15px;
  background: white;
  cursor: pointer;
}

.cafepass-levels-info .tick-marks .tick-mark .level-dropdown-info {
  position: absolute;
  opacity: 0;
  transition: opacity .15s linear
}

.cafepass-levels-info .tick-marks .tick-mark .level-dropdown:hover + .level-dropdown-info {
  opacity: 1;
}

.cafepass-levels-info .tick-marks .tick-mark .tick {
  position: absolute;
  float: left;
  background: #7f7f7f;
  height:16px;
  width:2px;
  margin-left: -1px;
}

.cafepass-levels-info .tick-marks .tick-mark .text-bottom {
    position: absolute;
    float: left;
    text-align: center;
    margin-top: 20px;
    width: 100px;
    margin-left: -51px;
}

/* Dropdown animation */
.dropdown-menu.show {
  animation-name: fadeAnimation;
  animation-duration:.1s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes fadeAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Category badges */
[class*="bg-category-"] {
  color: rgb(43, 41, 41);
}

.bg-category-coffee {
  background-color: rgb(221, 181, 163);
}

.bg-category-alt-milk {
  background-color: rgb(198, 233, 216);
}

.bg-category-meal-kit {
  background-color: rgb(236, 178, 178);
}

.bg-category-dessert-kit {
  background-color: rgb(240, 240, 170);
}

.bg-category-tools {
  background-color: rgb(220, 206, 228);
}