{% extends 'admin/admin_base.html' %}

{% block head %}
{{ super() }}
<title>Cafe AWAE Admin Add Product</title>
{% endblock %}


{% block subcontent %}
{% from "admin/product_form.html" import render_product_form %}

<!--Navigation breadcrumb-->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_for('admin_bp.home') }}">Home</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('admin_bp.products')}}">Products</a></li>
    <li class="breadcrumb-item active">Add Product</li>
  </ol>
</nav>

<div class="container-fluid px-0">
  <h3>Add Product</h3>
  <form class="wtf-ajax-form" id="add-product" method="POST" action="{{ url_for("admin_api_bp.add_product") }}" enctype="multipart/form-data">
    {{ form.csrf_token }}
    {{ render_product_form(form, categories, "Add product") }}
  </form>
</div>
{% endblock %}