{% import "bootstrap/wtf.html" as wtf %}
{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="/static/css/homepage.css">
<title>Cafe AWAE Admin Product</title>
{% endblock %}


{% block content %}
{% include 'admin/navbar.html' %}

{% from "admin/product_form.html" import render_product_form %}

<!--Navigation breadcrumb-->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_for('admin_bp.home') }}">Home</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('admin_bp.products')}}">Products</a></li>
    <li class="breadcrumb-item active">Add Product</li>
  </ol>
</nav>

<!--Homepage-->
<div class="container w-75">
<h3>Add Product</h3>
<form class="wtf-ajax-form" id="add-product" method="POST" action="{{ url_for("admin_api_bp.add_product") }}" enctype="multipart/form-data">
  {{ form.csrf_token }}
  {{ render_product_form(form, categories) }}
  <!--Form controls-->
  <div class="form-group row text-right">
    <div class="col">
      <button type="submit" class="btn btn-primary">Add Product</button>
    </div>
  </div>
</form>
</div>
{% endblock %}