{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="/static/css/homepage.css">
<title>Cafe AW Admin Dashboard</title>
{% endblock %}


{% block content %}
{% include 'admin/navbar.html' %}

<!--Homepage-->
<div class="container w-50">
  <div class="row my-auto justify-content-center">
    <div class="col-md-3 border">
      <div class="row">
        <img src="/static/uploads/images/coffee_1.jpg" alt="#" class="product-img rounded img-fluid">
      </div>
      <div class="row justify-content-center my-1">
        <a href="{{ url_for("admin_bp.products") }}">
          <div class="btn btn-primary text-center">Manage products</div>
        </a>
      </div>
    </div>

    <div class="col-md-3 border">
      <div class="row">
        <img src="/static/uploads/images/coffee_2.jpg" alt="#" class="product-img rounded img-fluid">
      </div>
      <div class="row justify-content-center my-1">
        <div class="btn btn-primary text-center" href="#">View orders</div>
      </div>
    </div>

    <div class="col-md-3 border">
      <div class="row">
        <img src="/static/uploads/images/coffee_3.jpg" alt="#" class="product-img rounded img-fluid">
      </div>
      <div class="row justify-content-center my-1">
        <div class="btn btn-primary text-center" href="#">View past sales</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}