<!--Header-->
<header class="navbar navar-expand flex-column">
  <div class="row w-100">
    <div class="col align-self-start text-left">
      <a href="{{ url_for("admin_bp.home") }}">
        <h4>Welcome, {{ current_user.username }}</h4>
      </a>
    </div>
    <!--Controls-->
    <div class="col align-self-end text-right">
      <div class="btn-group">
        <a href='{{ url_for('user_bp.home') }}' class="btn btn-success">User</a>
        <a href='{{ url_for('user_bp.cart') }}' class="btn btn-outline-secondary">Cart</a>
        {% if current_user.is_authenticated %}
        <a href='{{ url_for('user_bp.profile') }}' class="btn btn-primary">Profile ({{ current_user.username }})</a>
        <a href='{{ url_for('user_bp.logout') }}' class="btn btn-danger">Logout</a>
        {% else %}
        <a href='{{ url_for('user_bp.login') }}' class="btn btn-secondary">Login</a>
        {% endif %}
      </div>
    </div>
  </div>
</header>
