<!--Administator navbar-->
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <!--Brand link-->
  <a class="navbar-brand col-md-3 col-lg-2 me-0 ps-4 pe-3" href="{{ url_for("admin_bp.home") }}"><i class="bi bi-cup me-2"></i>Cafe AWAE</a>

  <!--Hamburger if for some reason sidebar hidden-->
  <button 
    class="navbar-toggler position-absolute d-md-none collapsed" type="button" 
    data-bs-toggle="collapse" data-bs-target="#admin-sidebar" aria-controls="admin-sidebar" 
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!--Search bar-->
  <input class="d-flex flex-row form-control form-control-dark" type="text" placeholder="Search" aria-label="Search">

  <!--User controls-->
  <div class="d-flex flex-row flex-md-no-wrap mx-3">
    <div class="dropdown text-end">
      <a href="#" class="d-block link-light text-decoration-none dropdown-toggle" id="dropdownAdminNav1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
        {% if current_user.is_authenticated %}
        <span class="mx-1 text-light">{{ current_user.username[0] }}</span>
        {% endif %}
      </a>
      <ul class="dropdown-menu dropdown-menu-end text-small" aria-labelledby="dropdownAdminNav1" style="">
        <li><a class="dropdown-item" href="{{ url_for('user_bp.home') }}">User Site</a></li>
        {% if current_user.is_authenticated %}
        <li><a class="dropdown-item" href="{{ url_for('user_bp.profile') }}">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{{ url_for('user_bp.logout') }}">Logout</a></li>
        {% else %}
        <li><a class="dropdown-item" href="{{ url_for('user_bp.login') }}">Login</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</header>