{% extends 'admin/admin_base.html' %}

{% block head %}
{{ super() }}
<title>Cafe AWAE Admin Products</title>
{% endblock %}

{% block subcontent %}
<script>
$('document').ready(function () {

  $("[id='product-remove']").click(function() {
    let btn = $(this);
    let url = btn.attr("url");
    let row_entry = btn.parents("tr").first();

    $.ajax({
      url, type: 'POST',
      success: () => {
        row_entry.remove();
      },
      error: () => location.reload(),
    })

  });
});
</script>

<!--Navigation breadcrumb-->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_for('admin_bp.home') }}">Home</a></li>
    <li class="breadcrumb-item active">Products</li>
  </ol>
</nav>

<!--Product page-->
<div class="container-fluid px-0">
  <!--Table header-->
  <div class="row px-0 justify-content-between">
    <div class="col text-start">
      <h3>My Products</h3>
    </div>
    <div class="col-auto align-self-end text-end">
      <a href="{{ url_for("admin_bp.add_product") }}" class="btn btn-sm btn-primary align-self-end">Add Product</a>
    </div>
  </div>

  <!--Product list--> 
  <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">UID</th>
      <th scope="col">Name</th>
      <th scope="col">Price ($)</th>
      <th scope="col">Category</th>
      <th scope="col">Brand</th>
      <th scope="col">Warranty</th>
      <th scope="col">Est. Delivery</th>
      <th scope="col">In Stock</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for p in products %}
    <tr>
      <th scope="row">{{ p.id }}</th>
      <td>{{ p.name }}</td>
      <td>{{ "$%.2f"|format(p.unit_price) }}</td>
      <td>{{ p.category }}</td>
      <td>{{ p.brand }}</td>
      <td>{{ "%d"|format(p.warranty_days) }} days</td>
      <td>{{ "%d"|format(p.delivery_days) }} days</td>
      <td><span class="{{ 'text-success' if p.stock > 0 else 'text-danger' }}">{{ p.stock }}</span></td>
      <td>
        <div class="d-flex flex-row justify-content-end">
          <a class="mx-1 btn btn-sm btn-outline-primary" href="{{ url_for("user_bp.product_page", id=p.id) }}">Details</a>
          <a class="mx-1 btn btn-sm btn-outline-primary" href="{{ url_for("admin_bp.edit_product", id=p.id) }}">Edit</a>
          <div 
            class="ms-1 btn btn-sm btn-danger" id="product-remove" 
            url="{{ url_for("admin_api_bp.delete_product", id=p.id) }}">Remove</div>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}