{% macro render_form_error(field) %}
<div id="{{ field.id }}" class="invalid-feedback d-none"></div>
{% endmacro %}

{% macro render_product_form(form, categories=[], submit_button="Submit changes") %}
{% from "utility.html" import input_product_image %}

<script src="/static/js/wtf_ajax_form.js"></script>
<script src="/static/js/dragndrop_image.js"></script>
<link rel="stylesheet" href="/static/css/dragndrop_image.css">

<div class="row my-2 px-0">
  <div class="col-md-8">
    <!--Id if it exists-->
    {% if form.id.data %}
    <div class="form-group row mb-3">
      <label for="{{ form.id.id }}" class="col-md-2 col-form-label">UUID</label>
      <div class="col">
        <input 
          type="text" class="form-control" required readonly
          id="{{ form.id.id }}" name="{{ form.id.id }}" value="{{ form.id.data or '' }}">
      </div>
    </div>
    {% endif %}
    <!--Name-->
    <div class="form-group row mb-3">
      <label for="{{ form.name.id }}" class="col-md-2 col-form-label">Name</label>
      <div class="col">
        <input 
          type="text" class="form-control" placeholder="Name"
          id="{{ form.name.id }}" name="{{ form.name.id }}" value="{{ form.name.data or '' }}">
        {{ render_form_error(form.name) }}
      </div>
    </div>
    <!--Unit price-->
    <div class="form-group row mb-3">
      <label for="{{ form.unit_price.id }}" class="col-md-2 col-form-label">Unit Price</label>
      <div class="col input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
        </div>
        <input 
          type="number" step="0.01" class="form-control" placeholder="Unit Price" min="1" required
          id="{{ form.unit_price.id }}" name="{{ form.unit_price.id }}" value="{{ form.unit_price.data or 1 }}">
        {{ render_form_error(form.unit_price) }}
      </div>
    </div>
    <!--Brand-->
    <div class="form-group row mb-3">
      <label for="{{ form.brand.id }}" class="col-md-2 col-form-label">Brand</label>
      <div class="col">
        <input 
          type="text" class="form-control" placeholder="Brand"
          id="{{ form.brand.id }}" name="{{ form.brand.id }}" value="{{ form.brand.data or '' }}">
        {{ render_form_error(form.brand) }}
      </div>
    </div>
    <!--Category-->
    <div class="form-group row mb-3">
      <label for="{{ form.category.id }}" class="col-md-2 col-form-label">Category</label>
      <div class="col input-group">
        <select class="form-select" id="{{ form.category.id }}" name="{{ form.category.id }}">
          {% for category in categories %}
          <option value="{{ category }}"  {{'selected' if form.category.data==category }}>{{ category }}</option>
          {% endfor %}
        </select>
        {{ render_form_error(form.category) }}
      </div>
    </div>
    <!--Description-->
    <div class="form-group row mb-3">
      <label for="{{ form.description.id }}" class="col-md-2 col-form-label">Description</label>
      <div class="col">
        <textarea 
          type="text" class="form-control" placeholder="No description given" rows="3" maxlength="250"
          id="{{ form.description.id }}" name="{{ form.description.id }}">{{ form.description.data or '' }}</textarea>
        {{ render_form_error(form.description) }}
      </div>
    </div>
    <!--Total in stock-->
    <div class="form-group row mb-3">
      <label for="{{ form.stock.id }}" class="col-md-2 col-form-label">In stock</label>
      <div class="col input-group">
        <input 
          type="number" class="form-control d-flex" placeholder="In stock" min="0" required
          id="{{ form.stock.id }}" name="{{ form.stock.id }}" value="{{ form.stock.data or 0 }}">
        {{ render_form_error(form.stock) }}
      </div>
    </div>
    <!--Estimated delivery-->
    <div class="form-group row mb-3">
      <label for="{{ form.delivery_days.id }}" class="col-md-2 col-form-label">Est. delivery in</label>
      <div class="col input-group">
        <input 
          type="number" class="form-control d-flex" placeholder="Est. Delivery" min="1" required
          id="{{ form.delivery_days.id }}" name="{{ form.delivery_days.id }}" value="{{ form.delivery_days.data or 1 }}">
        <div class="input-group-append">
          <div class="input-group-text">Days</div>
        </div>
        {{ render_form_error(form.delivery_days) }}
      </div>
    </div>
    <!--Warranty days-->
    <div class="form-group row mb-3">
      <label for="{{ form.warranty_days.id }}" class="col-md-2 col-form-label">Warranty Period</label>
      <div class="col input-group">
        <input 
          type="number" class="form-control d-flex" placeholder="Warranty Days" min="1" required
          id="{{ form.warranty_days.id }}" name="{{ form.warranty_days.id }}" value="{{ form.warranty_days.data or 1 }}">
        <div class="input-group-append">
          <div class="input-group-text">Days</div>
        </div>
        {{ render_form_error(form.warranty_days) }}
      </div>
    </div>
    <!--Submit button-->
    <div class="form-group row text-end">
      <div class="col">
        <button type="submit" class="btn btn-primary">{{ submit_button }}</button>
      </div>
    </div>
  </div>
  <!--Image upload-->
  <div class="col">
    {{ input_product_image(form.image.id, form.image_changed.id, form.image_url.data ) }} 
  </div>
</div>
{% endmacro %}
