{% macro render_form_error(field) %}
<div id="{{ field.id }}" class="invalid-feedback d-none"></div>
{% endmacro %}

{% macro render_product_form(form) %}

<script src="/static/js/wtf_ajax_form.js"></script>
<script src="/static/js/dragndrop_image.js"></script>
<link rel="stylesheet" href="/static/css/dragndrop_image.css">

<div class="row my-2">
  <div class="col-md-8">
      <!--Id if it exists-->
      {% if form.id.data %}
      <div class="form-group row">
        <label for="{{ form.id.id }}" class="col-md-3 col-form-label">UUID</label>
        <div class="col">
          <input 
            type="text" class="form-control" required readonly
            id="{{ form.id.id }}" name="{{ form.id.id }}" value="{{ form.id.data or '' }}">
        </div>
      </div>
      {% endif %}
      <!--Name-->
      <div class="form-group row">
        <label for="{{ form.name.id }}" class="col-md-3 col-form-label">Name</label>
        <div class="col">
          <input 
            type="text" class="form-control" placeholder="Name"
            id="{{ form.name.id }}" name="{{ form.name.id }}" value="{{ form.name.data or '' }}">
          {{ render_form_error(form.name) }}
        </div>
      </div>
      <!--Unit price-->
      <div class="form-group row">
        <label for="{{ form.unit_price.id }}" class="col-md-3 col-form-label">Unit Price</label>
        <div class="col input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <input 
            type="number" step="0.01" class="form-control" placeholder="Unit Price" min="1" required
            id="{{ form.unit_price.id }}" name="{{ form.unit_price.id }}" value="{{ form.unit_price.data or 1 }}">
          {{ render_form_error(form.unit_price) }}
        </div>
      </div>
      <!--Category-->
      <div class="form-group row">
        <label for="{{ form.category.id }}" class="col-md-3 col-form-label">Category</label>
        <div class="col input-group">
          <select class="custom-select" id="{{ form.category.id }}" name="{{ form.category.id }}">
            <option value="coffee"  {{'selected' if form.category.data=='coffee' }}>Coffee</option>
            <option value="cofveve" {{'selected' if form.category.data=='cofveve' }}>Cofveve</option>
            <option value="latte"   {{'selected' if form.category.data=='latte' }}>Latte</option>
            <option value="brown"   {{'selected' if form.category.data=='brown' }}>Brown</option>
          </select>
          {{ render_form_error(form.category) }}
        </div>
      </div>
      <!--Description-->
      <div class="form-group row">
        <label for="{{ form.description.id }}" class="col-md-3 col-form-label">Description</label>
        <div class="col">
          <textarea 
            type="text" class="form-control" placeholder="No description given" rows="3" maxlength="250"
            id="{{ form.description.id }}" name="{{ form.description.id }}">{{ form.description.data or '' }}</textarea>
          {{ render_form_error(form.description) }}
        </div>
      </div>
      <!--Total in stock-->
      <div class="form-group row">
        <label for="{{ form.in_stock.id }}" class="col-md-3 col-form-label">In stock</label>
        <div class="col input-group">
          <input 
            type="number" class="form-control d-flex" placeholder="In stock" min="0" required
            id="{{ form.in_stock.id }}" name="{{ form.in_stock.id }}" value="{{ form.in_stock.data or 0 }}">
          {{ render_form_error(form.in_stock) }}
        </div>
      </div>
      <!--Estimated delivery-->
      <div class="form-group row">
        <label for="{{ form.est_delivery_amount.id }}" class="col-md-3 col-form-label">Est. delivery in</label>
        <div class="col input-group">
          <input 
            type="number" class="form-control d-flex" placeholder="Unit Price" min="1" required
            id="{{ form.est_delivery_amount.id }}" name="{{ form.est_delivery_amount.id }}" value="{{ form.est_delivery_amount.data or 1 }}">
          <div class="input-group-append">
            <select class="custom-select" id="{{ form.est_delivery_units.id }}" name="{{ form.est_delivery_units.id }}">
              <option value="days"    {{ 'selected' if form.est_delivery_units.data == 'days' }}>Days</option>
              <option value="weeks"   {{ 'selected' if form.est_delivery_units.data == 'weeks' }}>Weeks</option>
              <option value="months"  {{ 'selected' if form.est_delivery_units.data == 'months' }}>Months</option>
              <option value="years"   {{ 'selected' if form.est_delivery_units.data == 'years' }}>Years</option>
            </select>
          </div>
          {{ render_form_error(form.est_delivery_amount) }}
          {{ render_form_error(form.est_delivery_units) }}
        </div>
      </div>
  </div>
  <!--Image upload-->
  <div class="col">
    <div class="dragndrop-image round">
      <!--Image preview-->
      <div class="preview d-none">
        <!--Overlay to show edit buttons-->
        <div class="overlay">
          <div class="row h-100 text-center justify-content-center">
            <div class="col my-auto mx-auto">
              <div class="btn btn-danger" id="delete">Delete</div>
            </div>
          </div>
        </div>
        <img class="img-fluid" src=""/>
        <p class="filename text-center"></p>
      </div>

      <!--Image drop zone-->
      <div class="dropzone w-100">
        <!--Reset control for dropzone if original src url was provided-->
        <div class="overlay d-none">
          <div class="btn btn-secondary" id="reset">Reset</div>
        </div>
        <div class="dropzone-description">
          <p>Choose an image file or drag it here.</p>
        </div>
        <!--If there was an original src image, store its url here-->
        <input value="{{ form.image_url.data or '' }}" name="{{ form.image_url.id }}" class="dropzone-src-url" hidden>
        <input type="checkbox" checked=false name="{{ form.image_changed.id }}" class="dropzone-dirty" required hidden>
        <!--Input that actually handles the drag and drop-->
        <input type="file" id="{{ form.image.id }}" name="{{ form.image.id }}" accept="image/*" class="dropzone-input">
        {{ render_form_error(form.image) }}
      </div>
    </div>
  </div>
</div>
{% endmacro %}
