{% extends 'admin/admin_base.html' %}

{% block head %}
{{ super() }}
<title>Cafe AWAE Admin Products</title>
{% endblock %}

{% block subcontent %}
<script>
$('document').ready(function () {
  // datatable
  let product_list = $("#product-list").DataTable({
    "columnDefs": [
      {
        "targets": [8], 
        "searchable": false,
      },
    ],
  });

  // Update delete product modal dynamically
  $("#product-delete-modal").on('show.bs.modal', function (ev) {
    let button = $(ev.relatedTarget);

    let product_id = button.attr("data-bs-product-id");
    let product_name = button.attr("data-bs-product-name");
    let product_url = button.attr("data-bs-product-url");

    let form = $(this).find("#product-remove-form");
    form.attr("action", product_url);
    $(this).find("#product-name").html(product_name);
  });

  // Update relist product modal
  $("#product-relist-modal").on('show.bs.modal', function (ev) {
    let button = $(ev.relatedTarget);

    let product_id = button.attr("data-bs-product-id");
    let product_name = button.attr("data-bs-product-name");
    let product_url = button.attr("data-bs-product-url");

    let form = $(this).find("#product-relist-form");
    form.attr("action", product_url);
    $(this).find("#product-name").html(product_name);
  });
});
</script>

<!--Navigation breadcrumb-->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_for('admin_bp.home') }}">Home</a></li>
    <li class="breadcrumb-item active">Products</li>
  </ol>
</nav>

<!--Product page-->
<div class="container-fluid px-0">
  <!--Table header-->
  <div class="row px-0 mb-3 justify-content-between">
    <div class="col text-start">
      <h3>My Products</h3>
    </div>
    <div class="col-auto align-self-end text-end">
      <a href="{{ url_for("admin_bp.add_product") }}" class="btn btn-sm btn-primary align-self-end">Add Product</a>
    </div>
  </div>

  <!--Product list--> 
  <table class="table table-hover" id="product-list">
    <thead>
      <tr>
        <th scope="col">UID</th>
        <th scope="col">Name</th>
        <th scope="col">Price ($)</th>
        <th scope="col">Category</th>
        <th scope="col">Brand</th>
        <th scope="col">Warranty</th>
        <th scope="col">Est. Delivery</th>
        <th scope="col">In Stock</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for p in products %}
      <tr id="{{ p.id }}">
        <th scope="row">{{ p.id }}</th>
        <td><a class="text-dark text-link" href="{{ url_for("admin_bp.edit_product", id=p.id) }}">{{ p.name }}</a></td>
        <td>{{ "$%.2f"|format(p.unit_price) }}</td>
        <td>{{ p.category }}</td>
        <td>{{ p.brand }}</td>
        <td>{{ "%d"|format(p.warranty_days) }} days</td>
        <td>{{ "%d"|format(p.delivery_days) }} days</td>
        <td><span class="{{ 'text-success' if p.stock > 0 else 'text-danger' }}">{{ p.stock }}</span></td>
        <td>
          <div class="d-flex flex-row justify-content-end">
            <a class="mx-1 btn btn-sm btn-outline-primary" href="{{ url_for("user_bp.product_page", id=p.id) }}">Details</a>
            <a class="mx-1 btn btn-sm btn-outline-primary" href="{{ url_for("admin_bp.edit_product", id=p.id) }}">Edit</a>
            {% if not p.is_deleted %}
            <div 
              class="ms-1 btn btn-sm btn-danger col-5" 
              data-bs-toggle="modal" data-bs-target="#product-delete-modal"
              data-bs-product-id="{{ p.id }}" data-bs-product-name="{{ p.name }}" 
              data-bs-product-url="{{ url_for("admin_api_bp.delete_product", id=p.id) }}">Remove</div>
            {% else %}
            <div 
              class="ms-1 btn btn-sm btn-success col-5" 
              data-bs-toggle="modal" data-bs-target="#product-relist-modal"
              data-bs-product-id="{{ p.id }}" data-bs-product-name="{{ p.name }}" 
              data-bs-product-url="{{ url_for("admin_api_bp.relist_product", id=p.id) }}">Relist</div>
            {% endif %}
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<!--Delete product confirmation modal-->
<div class="modal fade" id="product-delete-modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm Product Deletion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        Are you sure you want to delete <strong>"<span id="product-name"></span>"</strong>?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">No</button>
        <form action="" method="POST" id="product-remove-form">
          <button type="submit" class="btn btn-danger">Yes</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!--Relist product confirmation modal-->
<div class="modal fade" id="product-relist-modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm Product Relisting</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        Are you sure you want to relist <strong>"<span id="product-name"></span>"</strong>?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">No</button>
        <form action="" method="POST" id="product-relist-form">
          <button type="submit" class="btn btn-success">Yes</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}