<!--Admin sidebar-->
<nav id="admin-sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
  <div class="position-sticky pt-1">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for("admin_bp.home") }}"><i class="bi bi-house fs-5 mx-2"></i>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for("admin_bp.products") }}"><i class="bi bi-shop fs-5 mx-2"></i>Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="bi bi-star fs-5 mx-2"></i>Reviews</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="bi bi-receipt-cutoff fs-5 mx-2"></i>Orders</a>
      </li>
    </ul>
  </div>
</nav>
