{% extends 'base.html' %}

{% block head %}
<title>Edit login & security</title>
{% endblock %}

{% block content %}
{% include 'user_navbar.html' %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_for('user_bp.home') }}">Home</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('user_bp.profile') }}">Profile</a></li>
    <li class="breadcrumb-item active">Edit login & security</li>
  </ol>
</nav>

<script src="/static/js/wtf_ajax_form.js"></script>

<!--TODO: Add iconography-->
<div class="container w-50">
  <div class="row justify-content-center">
    <div class="col-md-5 my-auto">
      <div class="card">
        <div class="card-header">
          <h6>Edit login & security</h6>
        </div>
        <div class="card-body">
          <form method="POST" action="{{ url_for('api_bp.profile_edit_login_security') }}" id="user-login-security-form" class="wtf-ajax-form">
            {{ form.csrf_token }}
            <div class="form-group">
              <label for="{{ form.password.id }}">Password</label>
              <input type="password" class="form-control" id="{{ form.password.id }}" name="{{ form.password.id }}" placeholder="Password" required>
              <div class="invalid-feedback d-none" id="{{ form.password.id }}"></div>
            </div>
            <div class="form-group">
              <label for="{{ form.new_password.id }}">New password</label>
              <input type="password" class="form-control" id="{{ form.new_password.id }}" name="{{ form.new_password.id }}" placeholder="New password" required>
              <div class="invalid-feedback d-none" id="{{ form.new_password.id }}"></div>
            </div>
            <div class="form-group">
              <label for="{{ form.confirm_password.id }}">Confirm new password</label>
              <input type="password" class="form-control" id="{{ form.confirm_password.id }}" name="{{ form.confirm_password.id }}" placeholder="Re-enter new password" required>
              <div class="invalid-feedback d-none" id="{{ form.confirm_password.id }}"></div>
            </div>
            <div class="form-group">
              <label for="{{ form.email.id }}">Email</label>
              <input type="email" class="form-control" id="{{ form.email.id }}" name="{{ form.email.id }}" placeholder="Enter email" required>
              <div class="invalid-feedback d-none" id="{{ form.email.id }}"></div>
            </div>
            <div class="form-group">
              <label for="{{ form.phone.id }}">Phone</label>
              <input type="phone" class="form-control" id="{{ form.phone.id }}" name="{{ form.phone.id }}" placeholder="Enter phone number" required>
              <div class="invalid-feedback d-none" id="{{ form.phone.id }}"></div>
            </div>
            <div class="form-row my-2">
              <div class="col">
                <button type="submit" class="btn btn-primary w-100">Submit Changes</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}