{% extends 'base.html' %}
{% from "utility.html" import format_price %}

{% block head %}
<title>Membership</title>
{% endblock %}

{% block content %}
{% include 'user_navbar.html' %}

<div class="container-fluid justify-content-md-center text-center border-bottom pb-0 mb-3">
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb mb-2">
      <li class="breadcrumb-item"><a href="{{ url_for('user_bp.home') }}">Home</a></li>
      <li class="breadcrumb-item"><a href="{{ url_for('user_bp.profile') }}">Profile</a></li>
      <li class="breadcrumb-item active">Membership</li>
    </ol>
  </nav>
</div>

<script src="/static/js/wtf_ajax_form.js"></script>

<div class="container w-75">
  <h3>Membership</h3>
  <p>Level: {{ current_cafepass.level }}</p>
  <p>Net xp: {{ current_cafepass.net_xp }}</p>
  <p>XP to next level: {{ current_cafepass.curr_level_info.xp }}</p>
  <p>Discount: {{ "%.2f"|format(current_cafepass.percent_discount) }}%</p>
  <p>Level progress: {{ "%.2f"|format(current_cafepass.percent_complete) }}%</p>
  <p>Previous milestone: {{ format_price(current_cafepass.prev_milestone) }}</p>
  <p>Current milestone: {{ format_price(current_cafepass.curr_milestone) }}</p>

  <form action="{{ url_for('api_bp.profile_membership') }}" method='POST'>
    {{ form.csrf_token }}
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" name="{{ form.paid.id }}" id="{{ form.paid.id }}" {{ 'checked' if form.paid.data }} onchange="this.form.submit()">
      <label class="form-check-label" for="{{ form.paid.id }}">Use paid membership</label>
    </div> 
  </form>
</div>

{% endblock %}